// Colors
$white: #fff;
$black: #222;
$bg: #666;
$key_border: gray;
$key_played: #18d38d;
$loader_bg: rgba(50, 50, 50, 0.5);
$disabled_octave_bg: rgba(255, 255, 255, 0.5);

// Medias
$screen_hd: 720;
$screen_fullhd: 1920;
$screen_mobile: 540;
