.key {
  width: 1em;
  height: 5em;
  background: $white;
  border: 1px solid $key_border;
  top: 0;
  z-index: 0;
  transition: all ease-in-out 0.15s;

  &.sus {
    position: absolute;
    width: 0.8em;
    height: 3em;
    background: $black;
    transform: translate(0.6em, 0);
    z-index: 1;
  }

  &.is-playing {
    background: $key_played;
  }

  &.first {
    transition-delay: 0s;
  }

  // &.second {
  //   transition-delay: 0.5s;
  // }
}
